* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(59, 219, 164);
  background: linear-gradient(0deg, rgba(59, 219, 164, 1) 0%, rgba(35, 157, 37, 1) 100%);
  color: black;
  font-family: Arial;
  font-size: 23px;
}

header {
  text-align: center;
  color: black;
}

p {
  padding: 20px;
  margin: 4px;
}

.jogo {
  text-align: center;
}

.botoes {
  text-align: center;
}

.botao {
  background: rgb(13, 106, 66);
  background: linear-gradient(0deg, rgba(13, 106, 66, 1) 20%, rgba(19, 190, 48, 1) 77%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  align-items: center;
  font-size: 58%;
}

.botao:hover {
  background-position: right center;
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 34px;
  font-size: 20px;
  background-color: white;
}
